@model ReadaBookS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    body {
        background-image: linear-gradient(to right, #23a1ff, #9370DB);
    }

    .wrapper {
        margin: 80px;
    }

    .form-signin {
        max-width: 560px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px 0px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px #000000
    }

        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 30px;
        }

        .form-signin input[type="text"], .form-signin input[type="password"] {
            margin-bottom: 20px;
            padding: 10px;
        }

    .btn-primary:hover {
        box-shadow: 1px 1px 1px 1px #000000;
        background-image: linear-gradient(to right, #23a1ff, #9370DB);
    }
</style>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top: 120px;">
        <div class="wrapper">
            <div class="form-signin">
                <div style="margin-left: 20px;">
                    <img width="100px;" src=@Url.Content("~/Content/images/logo.png") />
                    <h4>Create a new account.</h4>
                </div>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div style="width: 100%; margin: auto; padding: 0px 0px 0px 20px;">
                    <div class="d-md-flex">
                        <div class="form-group col-md-6">
                            @*@Html.LabelFor(m => m.Fname, new { @class = "col-md-10 control-label" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Fname, new { htmlAttributes = new { @class = "form-control", @placeholder = "First name" } })
                                @Html.ValidationMessageFor(m => m.Fname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @*@Html.LabelFor(m => m.Lname, new { @class = "col-md-10 control-label" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Lname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Surname" } })
                                @Html.ValidationMessageFor(m => m.Lname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })*@
                        <div class="col-md-11">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Url, new { @class = "col-md-5 control-label" })*@
                        Profile picture
                        <div class="col-md-11">
                            @Html.EditorFor(m => m.Url, new { htmlAttributes = new { @class = "form-control mb-3", type = "file" } })
                            @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })*@
                        <div class="col-md-11">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })*@
                        <div class="col-md-11">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Repeat password" })
                        </div>
                    </div>
                    <hr class="mt-4" />
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Inspiration, new { @class = "col-md-5 control-label" })*@
                        Write down your goal
                        <div class="col-md-11 col-lg-7">
                            <textarea cols="6" @Html.EditorFor(m => m.Inspiration, new { htmlAttributes = new { @class = "form-control" } })></textarea>
                            @Html.ValidationMessageFor(m => m.Inspiration, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="col-md-5">
                            <div class="d-flex">
                                <div class="col-lg-6">
                                    @Html.LabelFor(m => m.Goal, new { @class = "control-label" })
                                </div>
                                <div style="margin: 0px 10px 0px 0px;" class="col-md-5">
                                    @Html.EditorFor(m => m.Goal, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-8">
                                    <span>books in 2021</span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Goal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="form-group mt-3">
                    <div class="col-md-offset-2 col-md-12 text-center">
                        <input type="submit" class="btn-lg btn-primary" value="Sign up" style="padding: 0px 100px 3px 100px; font-size: 23px;" />
                    </div>
                </div>


            </div>
        </div>

    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
