@using Microsoft.AspNet.Identity
@using ReadaBookS.Models;
@if (Request.IsAuthenticated)
{


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());

<li class="nav-item dropdown">
    <a href="#" class="nav-link"
       id="navbarjs4"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <img src=@Url.Content("~/Content/images/profile/"+currentUser.Url) width="35px;" height="35px;" style="border-radius: 50%; border: 2px solid #ffffff;" />
    </a>

    @if (User.Identity.GetUserName() == "admin1@gmail.com")
    {
        <ul class="dropdown-menu" aria-labelledby="navbarjs4">
            <li>@Html.ActionLink(currentUser.Fname + " " + currentUser.Lname, "Admin", "Orders", null, new { @class = "dropdown-item" })</li><li><hr class="dropdown-divider"></li>
            <li>@Html.ActionLink("Books management", "Admin", "Books", null, new { @class = "dropdown-item" })</li><li><hr class="dropdown-divider"></li>
            <li>@Html.ActionLink("User management", "Index", "AspNetUsers", null, new { @class = "dropdown-item" })</li><li><hr class="dropdown-divider"></li>
            <li>@Html.ActionLink("Commutity", "Index", "Community", null, new { @class = "dropdown-item" })</li>
            <li><hr class="dropdown-divider"></li>
            @*<li>@Html.ActionLink(" Logout", "Index", "Homes", null, new { @class = "dropdown-item bi bi-box-arrow-right" })</li>*@
            <li><a class="dropdown-item bi bi-box-arrow-right" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }
    else
    {
        <ul class="dropdown-menu" aria-labelledby="navbarjs4">
            <li>@Html.ActionLink(currentUser.Fname + " " + currentUser.Lname, "Index", "Orders", null, new { @class = "dropdown-item" })</li>
            <li><hr class="dropdown-divider"></li>
            <li>@Html.ActionLink("Commutity", "Index", "Community", null, new { @class = "dropdown-item" })</li>
            <li><hr class="dropdown-divider"></li>
            @*<li>@Html.ActionLink(" Logout", "Index", "Homes", null, new { @class = "dropdown-item bi bi-box-arrow-right" })</li>*@
            <li><a class="dropdown-item bi bi-box-arrow-right" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }
</li>
    }
}
else
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link bi bi-person-circle dropdown-toggle h5"
           id="navbarjs4"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarjs4">

            <li>@Html.ActionLink(" Sign in", "Login", "Account", null, new { @class = "dropdown-item bi bi-box-arrow-in-right" })</li>
            <li><hr class="dropdown-divider"></li>
            <li>@Html.ActionLink(" Sign up", "register", "Account", null, new { @class = "dropdown-item bi bi-door-open" })</li>
            <li><hr class="dropdown-divider"></li>
            <li>@Html.ActionLink("Commutity", "Index", "Community", null, new { @class = "dropdown-item" })</li>
        </ul>
    </li>
}
